name: Pack and publish

on:
  workflow_dispatch:

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml
  pack-and-publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: build-and-test
    permissions:
      id-token: write
      contents: read
      attestations: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # https://github.com/actions/checkout/releases/tag/v6.0.1
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # https://github.com/actions/setup-dotnet/releases/tag/v5.1.0
        with:
          dotnet-version: '10.0.x'
      - name: Pack
        run: dotnet pack --configuration Release --output ./
      - name: Provenance
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # https://github.com/actions/attest-build-provenance/releases/tag/v3.1.0
        with:
          subject-path: './*.nupkg'
      - name: NuGet Login
        uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 # https://github.com/NuGet/login/releases/tag/v1
        id: login
        with:
          user: dscheg
      - name: Publish Nuget package
        run: dotnet nuget push *.nupkg --api-key "${{steps.login.outputs.NUGET_API_KEY}}" --source https://api.nuget.org/v3/index.json --skip-duplicate
